/** search-list text css */
.search-list .search-text {
    padding: 30px;
}



/** search table css */
.search-table .table-striped tbody tr:nth-of-type(odd) {
    background-color: #dbfede;
}

.search-table .table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(65, 222, 78, 0.7);
}



/** search list pagination css */

.search-list-pagination{
    margin-top: 40px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.search-list-pagination .page-link {
    color: #28b76b;
}

.search-list-pagination .page-link:hover {
    z-index: 2;
    color: #04ff00;
    text-decoration: none;
    background-color: #ffffff;
    border-color: #dee2e6;
}