body {
    background-color: red;
    position: relative;
}

#div1, #div2, #div3{
    font-size: 18px;
    width: 100%;
    height: 100%;
}

#div1{
    background-color: white;
}
#div2{
    background-color: white;
}
#div3{
    background-color: white;
}


#buttonBox{
    padding: 20px 0;

}

#userBox {
    position: absolute;
    left: 50%;
    width: 60%;
    background-color: #ffffff;
    transform: translateX(-50%);
}
/* 
.user-footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} */